.footer {
  position: fixed;
  position: static;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  gap: 15px;
  justify-content: center;
  border-radius: 15px;

  .footer_link {
    padding: 0.2rem;
    width: 35px;
  }
}
