/*variables colores*/
$cool-black: black;
$cool-white: white;
$cool-red: red;
$cool-green: green;
$cool-yellow: yellow;
$cool-blue: blue;
$box-shadow-anashei: 0px 11px 20px -3px $cool-green(28, 200, 22, 0.8);
$border-radius-anashei: 52px 52px 52px 52px;
$cool-blackround: rgba(0, 0, 0, 0.5);
$cool-blackround-white: white;
